//////////////////////////
// Setting Sass Setting File
// Author: HS Syoka
// Date: 22.04.09
//////////////////////////

//-----------------------------------
// Variable Setting
//-----------------------------------
// BREAKPOINT
$BP_PC_w: 1600px !default;
$BP_PC: 1200px !default;
$BP_TB: 896px !default;
$BP_SP: 600px !default;