//////////////////////////
// Weather Dashboard App
// Each Screen Styles Setting File
// Author: Wataru Kimura
// Date: 25.03.20
//////////////////////////
@use "global" as g;
/* ===========================================
 * DASH BOARD
 * ======================================== */
/* HEADER AREA */
/* ======================================== */
.dashboard-header {
    margin-bottom: 20px;
}

/* BODY AREA */
/* ======================================== */
.dashboard-body {
    // FORECAST AREA
    .forecast-weather-area {
        margin-top: 30px;
    }
}

@include g.min-screen(g.$BP_TB){
    /* ===========================================
    * DASH BOARD
    * ======================================== */
    /* HEADER AREA */
    /* ======================================== */
    .dashboard-header {
        margin-bottom: 30px;
    }

    /* BODY AREA */
    /* ======================================== */
    .dashboard-body {
        display: flex;
        gap: 20px;

        .cur-weather-area {
            width: 50%;
        }
        // forecast AREA
        .forecast-weather-area {
            width: 50%;
            margin-top: 0px;
        }
    }
}