//////////////////////////
// Weather Dashboard App
// Variable Styles Setting File
// Author: Wataru Kimura
// Date: 25.03.20
//////////////////////////

/* ===========================================
 * Variables
 * ======================================== */
:root {
    // Color
    --brack90: #111111;
    --brack50: #9E9E9E;
    --baseblue: #2A88CD;
    --contentsblue: #2F93DD;
    --grad_lblue: #3B9FE9;
    --grad_dblue: #2F93DD;

    // Font Famiry
    --ffbase: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    --ffen: "Open Sans", sans-serif;
}